@charset "UF-8";
 
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #D4AF37;
    --cor2: #B8860B;
    --cor3: #E1C16E;
    --cor4: #8B5A2B;
    --cor5: #5C4033;
    --cor6: #CD7F32;
}

body{
    background-image: linear-gradient(to right, var(--cor4), var(--cor1));
}

header{
   text-align: center; 
}