@charset "UF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #000000;
    --cor2: #1A1A1A;
    --cor3: #3C3C3C;
    --cor4: #BFBFBF;
    --cor5: #F2F2F2;
    --cor6: #FFFFFF;
}

body{
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
}