@charset  "UF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#000000;
    --cor2:#FFFFFF;
    --cor3:#370061;
    --cor4:#8700F5;
    --cor5:#B900E5;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    color: #FFFFFF;
    padding: 35px;
    text-align: center;
}

header > h1{
    font-size: 3.5em;
    padding-bottom: 20px;
}

header > p{
    font-size: 1.1em;
}

nav{
    background-color: #000000;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    position: relative;
    display: inline-block;
}

li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition-duration: .5s;
    text-align:center ;
}

li:hover > a{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
}

li ul{
    display: none;
    position: absolute;
    top: 100%;
    min-width: auto;
}

li:hover > ul{
    display: block;
}

li ul li{
    display: block;
    background-color: #000000;
}

