@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p{
    line-height: 1.4em;
}

h1,h2{
    margin-bottom: 20px;
}

main{
    background-color: lightgray;
    padding: 10px;
}

section.flex{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
}

article > div.text{
    flex: 1 1 500px;
}

article > div.media{
    flex: 1 0 auto;
}

div.media > img,iframe{
    display: block;
    margin: 20px auto;
}