@charset "UTF-8";

*{
    font-family: var(--font-destaque2)
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

:root{
    --cor1: #0D0D0D;
    --cor2: #0A0F3C;
    --cor3: #2D014D;
    --cor4: #4B0A0A;
    --cor5: #1B263B;
    --cor6: #3D1A54;

    --fonte-destaque1: 'Patrick Hand', cursive;/*textos*/
    --fonte-titulo: 'Orbitron', sans-serif;/*titulos*/
    --fonte-menu: 'Rajdhani', sans-serif;/*menu*/
}

header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

header > h1{
    background-color: rgba(255, 255, 255, 0.211);
    color: black;
    border-radius: 25px;
    border: 2px solid white;

    width: auto;
    height: auto;
    padding: 10px;
    margin: auto;

}

header{
    background-image: url(../imagens/header-sol.jpg);
}

main{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: auto;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

main#tempo, #sol, #buraconegro{
    justify-content: left;
}

main#voyage{
    justify-content: right;
}

section{
    background-color: rgba(0, 0, 0, 0.416);
    color: white;
    height: auto;
    width: 50%;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px;
    
}

#voy1{
    margin-right: 10px;
}

.left{
    width: 40%;
}

h2{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor6));
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;

    font-family: var(--fonte-titulo);
}

article{
    background-image: linear-gradient(to right, #a011ff9d, violet);
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}

.just{
    background-color: #0D0D0D;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.title{
    background-image: linear-gradient(to right, var(--cor3), var(--cor1));
    margin:20px auto;
    padding: 5px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    border: 3px solid black;

    font-family: var(--fonte-titulo);
}

.text{
    text-align: left;
    line-height: 1.3em;
    font-size: 1.4em;
    height: auto;
    min-width: 200px;
    max-width: 500px;
    font-family: var(--fonte-destaque1);
}

.textarticle{
    line-height: 30px;
    font-size: 1.2em;
}

.textvoy{
    font-family: var(--fonte-destaque1);
    font-size: 1.1em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    border-radius: 10px; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#sol{
    background-image: url(../imagens/sol.jpg);
}

#voyage{
    background-image: url(../imagens/Espaconave_Voyager.jpg);
}

#buraconegro{
    background-image: url(../imagens/buraco_negro.jpg);
}

#tempo{
    background-image: url(../imagens/espaço-time.jpg);
}

@media screen and (min-width: 992px){
    .divisao{
     display: flex;
    justify-content: space-between;
    }

    .textvoy{
        width: 50%;
        text-align: justify;
        padding: 20px;
    }

    main{
        background-attachment: fixed;
        border-radius: 0px;
    }

}