@charset "UTF-8";

/*Arquivo para celular*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor1: #0D0D0D;
    --cor2: #0A0F3C;
    --cor3: #2D014D;
    --cor4: #4B0A0A;
    --cor5: #1B263B;
    --cor6: #3D1A54;

    --fonte-destaque1: 'Finger Paint',cursive;
    --font-destaque2: 'Roboto Mono', cursive;
}

body,html{
    height: 100%;
    color: white;
}

header{
 background-image: url(../imagens/header-planetas-2.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 150px;
 border-bottom: 2px solid rgba(77, 77, 77, 0.467);
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    text-align: center;
}

span#burguer{
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    user-select: none;
}

span#burguer:hover{
    background-color: var(--cor6);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

nav{
    display: none;
}

.listmenu{
    background-color:#C084F5;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
    margin: auto;
    border-top: 2px solid gray;
    user-select: none; /* impede selecionar o texto */
}

#home{
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    
    display: block;
    margin: auto;
    padding: 10px;

    border-top: 2px solid rgba(77, 77, 77, 0.467);
}

#home:hover{
    background-color:#2D014D;
    color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

nav > ul > li > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #150038;
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

nav > ul > li > ul > li > a:hover{
    background-color: #6A0DAD;
    color: #0D0D0D;
}

#titleprincipal{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.445);
}

main#telainicial{
    background-image: url(../imagens/estrelas_body.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    margin-bottom: 20px;
    text-align: center;
}

section{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

article{
    text-align: left;
    width: 250px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

#subprincipal{ 
    background-color: rgba(0, 0, 0, 0.456);
    border: 2px solid rgba(255, 255, 255, 0.334);
    box-shadow: 5px 5px 5px 5px rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 1.1em;
    margin: 20px auto;
}


#menvoy{
     background-image: url(../imagens/Espaconave_Voyager.jpg);
     margin-bottom: 20px;
}

#menbur{
    background-image: url(../imagens/buraco_negro.jpg);
    margin-bottom: 20px;
}

#mensol{
    background-image: url(../imagens/sol.jpg);
    margin-bottom: 20px;
}

#mentem{
    background-image: url(../imagens/espaço-time.jpg);
    margin-bottom: 20px;
}

#top {
    width: 100%;
    margin: auto;
    padding: 20px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    box-sizing: border-box;
}

#subimg {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    padding: 10px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.527);

    grid-column: 1 / -1;
    text-align: center;
    width: 50%;
    margin:10px auto;
}

.caixa {
    width: 100%;
    height: 180px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    border: 2px solid white;
    border-radius: 10px;
}

.bot {
    background-image: linear-gradient(to right, #a011ff47, rgba(238, 130, 238, 0.393));
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto;

    border-top: 2px solid rgba(255, 255, 255, 0.364);
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-decoration: none;
}

.bot:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.393), rgba(238, 130, 238, 0.393));
    color: black;
}


a{
    color: white;
}


footer{
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #2d014ddc;
    border-top: 2px solid rgba(77, 77, 77, 0.467);
}

footer > p{
    margin-bottom: 5px;
}

footer > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
    margin: 5px;
}

footer > a:hover{
    background-color: white;
    width: 50px;
    height: 50px;
}


/* CSS para notebooks */
@media screen and (min-width: 992px) {

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1600px;
        margin: auto;
        align-items: stretch; 
    }

    main#telainicial {
        width: 75%;
        height: 100vh;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center; 
        box-sizing: border-box;
    }

    article#top {
        width: 25%;
        margin: 0;
        padding: 20px;
        height: 100vh;
        box-sizing: border-box;
        border-radius: 0px;
        border-left: 2px solid rgba(255, 255, 255, 0.33);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #subimg {
        width: 90%;
        margin: 10px auto 30px auto;
    }

    .caixa {
        width: 100%;
        height: 180px;
    }

    footer{
        margin-top: 0px;
    }
}








