@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Special+Gothic+Expanded+One&display=swap'); /*Titúlo header h1
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap'); /*Paragrafos 
font-family: "Sour Gummy", sans-serif;
font-optical-sizing: auto;
font-weight:weight;
font-style: normal;
text-align: center;
color: white;*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /*paragrafod header 
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');/* tag <a> 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: left;
    color: white;*/

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body{
    background-color: #D1BD82;
    margin: 0px;
    padding: 0px;
}

header{
    background-image:linear-gradient(to right, #BF9A2C, #5E574B) ; 
    padding: 22px;
    margin: 0px;
}

header h1{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #1C1B21;
}

header p{
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #3D332F;

}

nav{
    background-image: linear-gradient(to right,#BF9A2C, #5E574B );
    padding: 10px;
}

nav > a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: left;
    color: white;
}

nav > a:hover{
    background-color:#3D332F;
    color: #BF9A2C;
    border-radius: 10px 0px;
}

main{
    background-color: #5E574B;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

main#listas{
    background-color: #F2EEAE;
    border:5px solid black ;
    border-radius: 0px 60px;
    padding: 10px;
    margin: 10px;
    box-shadow:10px 10px 6px black ;
}

main > h2{
    background-color:#BF9A2C ;
    text-align: left;
    padding: 10px;
    margin: -10px;
    border-radius: 0px 60px 0px 0px;
}

main > p{
    color: #0D0D0D;
}

h2{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.centro{
    text-align: center;
}

.subt{
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.subt:hover{
    text-decoration: underline;
}

p{
font-family: "Sour Gummy", sans-serif;
font-optical-sizing: auto;
font-weight:weight;
font-style: normal;
text-align: center;
color: #D1BD82;
}

div.imagem{
    text-align: center;
}

iframe{
    text-align: center;
}

div#video{
    background-color: #D1BD82;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 55%;
    position: relative;
    border-radius: 10px;
    border:5px solid #0D0D0D;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    text-align: center;
    background-color: #594E2D;
    color: white;
    padding: 40px;
}
